html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  line-height: 120%;
  font-family: "Josefin Sans", sans-serif;
}

/****** responsive with flex *********/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

.main {
  background: #f7f7f7;
}

.aside-1 {
  background: #2c2c2c;
  color: #fff;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 2 0px;
  }
  .aside-1 {
    order: 1;
    max-width: 350px;
  }
  .main {
    order: 2;
  }
  /*.aside-2 { order: 3; }*/
  /*.footer  { order: 4; }*/
}
/****** responsive with flex *********/

/****** helpfull classes *********/
.alignCenter {
  text-align: center;
}
/****** helpfull classes *********/

/****** sidebar *********/
.sidebar {
  padding: 50px 30px;
}
.sidebar a {
  color: #fff;
}
.sidebar .profile {
  text-align: center;
  text-align: justify;
  padding: 30px 0;
}
.sidebar .profile h3 {
  text-align: center;
}
.profilePicture {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.profilePicture img {
  height: 140px;
  border-radius: 100%;
  border: 10px solid #fff;
}
.contactDetails {
  padding: 30px 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.contactDetails .detail {
  padding: 10px 0;
}
.contactDetails .icon i {
  font-size: 45px;
}
.expertise {
  padding: 30px 0;
  border-bottom: 2px solid #fff;
}
.expertise ul {
  padding-left: 0;
}
.expertise ul li {
  list-style: none;
  text-align: center;
  line-height: 1.5em;
}
.languages {
  padding: 30px 0;
  border-bottom: 2px solid #fff;
  line-height: 1.5em;
}
.brand {
  font-size: 0.75em;
  padding: 30px 0 0 0;
  text-align: center;
}
.brand .mi {
  height: 35px;
}
/****** sidebar *********/

/****** main content *********/
.main {
  padding-left: 0;
  padding-right: 0;
}
.top {
  height: 150px;
  background: #e4e4e4;
  margin: 50px 0;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
  background-image: url("../../images/miro_rock_soul.png");
  background-size: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.top .title {
  font-size: 35px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  background: #e4e4e4;
  line-height: normal;
}
.top .subtitle {
  font-size: 15px;
  margin-top: 10px;
  font-style: italic;
}
.main .section {
  padding: 30px 0;
  margin-left: 50px;
  display: table;
}
.main .section .container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.main .section .iconHug {
  flex: auto;
  width: 25%;
  max-width: 50px;
  border: 2px solid #808080;
  /*border-radius: 10px;*/
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.print.icon,
.main .section .iconHug .icon {
  background: #808080;
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  margin-left: -36.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #f7f7f7;
}
.main .section .items {
  flex: auto;
  padding-right: 30px;
}

.main .section .title {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
}
.main .section .title span {
  background: #f7f7f7;
  padding-right: 10px;
}
.horizonLine {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
}
.horizonLine:after {
  content: "";
  flex: auto;
  background: #8b8b8b;
  height: 1px;
  margin: auto;
  margin-left: 20px;
}

.main .section .item {
  margin: 20px 0;
}
.main .section .item .what {
  font-size: 20px;
  font-weight: 600;
}
.main .section .item .where {
  font-size: 19px;
  font-weight: 400;
}
.main .section .item .when {
  font-size: 15px;
  opacity: 0.6;
}
.main .section .item .desc {
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
}

.main .section.publications .item {
  margin: 20px 0;
  text-align: justify;
}
.main .section.publications .item:after {
  content: "";
  flex: auto;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: auto;
  display: block;
  width: 50px;
  margin-top: 15px;
}
/****** main content *********/
/****** print icon *********/
.print {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 100;
}
/****** print icon *********/
/****** print settings *********/
.size-a4 {
  width: 8.3in;
  height: 11.7in;
  margin: 0 auto;
}
.size-a4 a {
  text-decoration: none;
}
.size-a4 .print,
.size-a4 .brand {
  display: none;
}
/****** print settings *********/

/****** local material font *********
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
/****** local material font *********/

.print.icon {
  display: none;
}
